[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
flask = "*"
requests = "*"
flask-limiter = "*"
pillow = "*"
astral = "*"
arrow = "*"
google-api-python-client = "*"
python-dotenv = "*"
google-auth = "*"
google = "*"
google-auth-oauthlib = "*"

[requires]
python_version = "3.7"
